<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Zmiana hasła</title>
	<link href="css/main.css" rel="stylesheet">
</head>

<body>
<header th:insert="header"></header>
<nav th:insert="navbar"></nav>
<main>
	<h1>Zmiana hasła!</h1>
	<ul th:if="${errors != null}">
		<li class="error" th:each="error : ${errors}" th:text="${error}"></li>
	</ul>

	<form action="/changepassword" method="post" th:object="${req}">
		<table>
			<tr>
				<td>
					<label for="oldPassword">Poprzednie hasło:</label>
				</td>
				<td>
					<input type="password" maxlength="30" name="oldPassword" id="oldPassword">
				</td>
			</tr>
			<tr>
				<td>
					<label for="newPassword">Nowe hasło:</label>
				</td>
				<td>
					<input type="password" maxlength="30" name="newPassword" id="newPassword">
				</td>
			</tr>
			<tr>
				<td>
					<label for="oldPassword">Potwierdź hasło:</label>
				</td>
				<td>
					<input type="password" maxlength="30" name="validateNewPassword" id="validateNewPassword">
				</td>
			</tr>
			<tr>
				<td></td>
				<td>
					<input type="submit" value="Zmień">
				</td>
			</tr>
		</table>
	</form>
</main>
<footer th:insert="footer"></footer>
</body>
</html>