<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
<footer>
	<table class="contact">
		<tbody>
		<tr>
			<td>email</td>
			<td>biblioziem@poczta.com</td>
		</tr>
		<tr>
			<td>tel</td>
			<td>+48 22 345-56-78</td>
		</tr>
		<tr>
			<td></td>
			<td>+48 22 900-34-45</td>
		</tr>
		<tr>
			<td>fax</td>
			<td>+48 22 621-89-34</td>
		</tr>
		<tr>
			<td>Siedziba</td>
			<td>Ul. Biblioteczna 121</td>
		</tr>
		<tr>
			<td></td>
			<td>
				01-123 Warszawa
			</td>
		</tr>
		<tr>
			<td>Hotel?
			<td>Trivago!</td>
		</tr>
		</tbody>
	</table>
</footer>
</body>
</html>