<!DOCTYPE html>
<html lang="pl">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<header>
	<noscript>
		<table>
			<tr>
				<td>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
						 alt="JS" title="Java script logo" height="20">
				</td>
				<td>
					Ta strona działa najlepiej z js(chociaż bez też działa)
				</td>
			</tr>
		</table>
	</noscript>
	<h1>BiblioZiemniak: twoje narzędzie do bibliografii</h1>
	<hr>
</header>
</body>
</html>