<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
</head>
<body>
<header>
	<noscript>
		<table>
			<tr>
				<td>
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Unofficial_JavaScript_logo_2.svg/512px-Unofficial_JavaScript_logo_2.svg.png"
						 alt="JS" title="Java script logo">
				</td>
				<td>
					This page works bes with javascript enabled
				</td>
			</tr>
		</table>
	</noscript>
	<h1>BiblioZiemniak: your free bibliography management tool</h1>
	<hr>
</header>
</body>
</html>