<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Witaj w biblioziem</title>
</head>
<body>
<h1>Witaj w BiblioZiem</h1>
<p>
    Aby kontynouwać załóż konto albo zaloguj się do isniejącego
</p>
<table>
    <tr>
        <th>
            <button type="button" onclick="window.location.href = '/register'">Zarejestruj się</button>
        </th>
        <th>
            <button type="button" onclick="window.location.href = '/login'">Zaloguj się</button>
        </th>
    </tr>
</table>
</body>
</html>