<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"><head>
	<meta charset="UTF-8">
	<title>Zaloguj się</title>
	<link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<header th:insert="header"></header>
<main>
	<form id="login" method="post" th:object="${user}">
		<table>
			<tr>
				<td>
					<label for="username">Nazwa użytkownika</label>
				</td>
				<td>
					<input type="text" id="username" name="username" maxlength="10">
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">Hasło</label>
				</td>
				<td>
					<input id="password" type="password" name="password" maxlength="20">
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="submit" value="Zaloguj">
				</td>
			</tr>
		</table>
	</form>
</main>
<footer th:insert="footer"></footer>
</body>
</html>