<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
>
<head>
	<meta charset="UTF-8">
	<title>Zaloguj sie</title>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header">...</div>
<main>
	<div class="error" th:if="${errorreason != null}">
		<p th:text="${errorreason}">...</p>
	</div>
	<form id="login" method="post" th:object="${user}">
<!--		<div class="error" th:if="${#fields.hasErrors('*')}">-->
<!--			<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>-->
<!--		</div>-->
		<table>
			<tr>
				<td>
					<label for="username">
						Username
					</label>
				</td>
				<td>
					<input type="text" id="username" name="username">
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">
						Password
					</label>
				</td>
				<td>
					<input type="password" id="password" name="password"/>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" value="Submit">
				</td>
			</tr>
		</table>
	</form>
</main>
<footer>
	<div th:insert="footer">...</div>
</footer>
</body>
</html>