<!DOCTYPE html>
<html lang="pl" xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Moje pliki</title>
	<link href="css/main.css" rel="stylesheet">
</head>
<header th:insert="header"></header>
<nav th:insert="navbar"></nav>
<body>
<!--Dodawanie nowych plików-->
<form method="post" enctype="multipart/form-data" action="/home">
	<table>
		<tbody>
		<tr>
			<td>Dodaj nowy plik</td>
			<td>
				<input type="file" name="file">
			</td>
			<td>
				<input type="submit" value="Dodaj!">
			</td>
		</tr>
		</tbody>
	</table>
</form>
<!--Pliki użytkownika-->

<table th:if="${fileList != null}">
	<tbody>
	<tr th:each="file : ${fileList}">
		<td th:text="${file.name}"></td>
		<td th:text="${file.creationDate}"></td>
		<td th:text="${file.extension}"></td>
		<td>
			<a th:href="@{'/myfiles/download/' + ${file.id}}" target="_blank">Pobierz?</a>
			<!--			<form th:action="@{'/myfiles/download/' + ${file.id}}" method="get">-->
			<!--				<input type="submit" value="Pobierz">-->
			<!--			</form>-->
		</td>
		<td>
			<form th:action="${'/sharefile/'} + ${file.id}" method="get">
				<input type="submit" value="Udostępnij">
			</form>
		</td>
	</tr>
	</tbody>
</table>
</body>
<footer th:insert="footer"></footer>
</html>