<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="UTF-8">
	<title>Pls register</title>
	<link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div th:insert="header">...</div>
<main>
	<noscript>
		<h2>This website works better with javascript</h2>
		<hr>
	</noscript>

	<h1>
		Register to BibloZiem
	</h1>

	<!--Errors TODO-->
	<div class="error" th:if="${errorlist != null}">
		<p th:each="eli : ${errorlist}" th:text="${eli}">aaa</p>
	</div>


	<!--End of errors-->
	<form id="register" method="post" th:object="${user}">
		<div class="error" th:if="${#fields.hasErrors('*')}">
			<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
		</div>

		<table>
			<tr>
				<td>
					<label for="username">
						Username
					</label>
				</td>
				<td>
					<input type="text" id="username" name="username">
				</td>
			</tr>
			<tr>
				<td>
					<label for="password">
						Password
					</label>
				</td>
				<td>
					<input type="password" id="password" name="password"/>
				</td>
			</tr>
			<tr>
				<td>
					<label for="validatePassword">
						Validate password
					</label>
				</td>
				<td>
					<input type="password" id="validatePassword" name="validatePassword">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input type="submit" value="Submit">
					<!--
					<button type="submit" title="Submit" form="register">
						Zarejstruj
					</button>
					-->
				</td>
			</tr>
		</table>
	</form>
	<script th:src="@{/scripts/checking.js}"></script>


</main>
<footer>

</footer>
</body>
</html>